@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.sidebar {
  &__video {
    margin-bottom: $standard-spacing-mobile;
    cursor: pointer;
    @include tablet {
      margin-bottom: $gutter-desktop;
    }
  }
  &__container {
    width: 10rem;
    height: 6rem;
    margin-right: $standard-spacing-mobile;
  }

  &__image {
    object-fit: cover;
    height: inherit;
    width: inherit;
    border-radius: 4px;
  }

  &__video {
    display: flex;
  }

  &__name {
    font-weight: 600;
    width: 18rem;
    line-height: normal;
  }

  &__wrapper {
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
