@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.button {
  all: unset;
  display: flex;
  background-color: $brand-primary-2;
  background-position: 3% 50%;
  background-repeat: no-repeat;
  height: 4rem;
  width: 100%;
  border-radius: 5px;
  color: white;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  @include labels-buttons;

  @include tablet {
    width: 15rem;
  }

  &--comment {
    background-image: url("../../assets/Icons/add_comment.svg");
    background-size: 2rem;

    @include tablet {
      background-position: 6% 50%;
    }
  }

  &--search {
    background-image: url("../../assets/Icons/upload.svg");
  }
}
