@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form {
  &__wrapper {
    padding: 0 $standard-spacing-mobile $standard-spacing-mobile
      $standard-spacing-mobile;
    display: flex;
    width: 100%;

    @include tablet {
      padding: 0 $standard-spacing-desktop $gutter-desktop
        $standard-spacing-desktop;
    }

    @include desktop {
      padding: 0 $gutter-desktop $gutter-desktop 0;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include tablet {
      justify-content: space-between;
    }
  }

  &__input {
    margin-bottom: $standard-spacing-mobile;
    @include form-styling;

    &--height {
      height: 8rem;

      @include tablet {
        margin-bottom: 0;
        overflow: hidden;
      }
    }
  }

  &__button {
    @include tablet {
      margin: 2rem 0 0 2rem;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;

    @include tablet {
      width: 100%;
    }
  }
}
