@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form {
  &__wrapper {
    padding: 0 1.6rem 1.6rem 1.6rem;
    display: flex;
    width: 100%;

    @include tablet {
      padding: 0 3.6rem 2.4rem 3.6rem;
    }

    @include desktop {
      padding: 0 2.4rem 2.4rem 0;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__input {
    // all: unset;
    background-color: $brand-secondary-4;
    border: 1px solid $brand-secondary-3;
    height: 8rem;
    border-radius: 5px;
    padding: 1.2rem;
    margin-bottom: 1.6rem;
    font-family: "AvenirNext";
    resize: none;
    &:focus {
      border: 2px solid $brand-primary-2;
    }
    &::placeholder {
      color: $brand-primary-1;
      font-family: "AvenirNext";
    }

    @include tablet {
      height: 4rem;
      margin-bottom: 0;
      overflow: hidden;
    }
  }

  &__button {
    @include tablet {
      margin: 2rem 0 0 2rem;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;

    @include tablet {
      width: 100%;
    }
  }

  //   &__label {
  //     text-transform: uppercase;
  //     color: $brand-primary-3;
  //     font-size: 1.2rem;
  //     font-weight: 600;
  //     margin-bottom: 0.6rem;
  //   }
}
