@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin header-desktop {
  font-size: 3.3rem;
  line-height: 4.4rem;
  font-weight: 600;
}

@mixin header-mobile {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
}

@mixin copy-mobile {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: normal;
}

@mixin copy-desktop {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: normal;
}

@mixin labels-buttons {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 600;
}

@mixin form-styling {
  background-color: $brand-secondary-4;
  border: $border;
  border-radius: 5px;
  padding: 1.2rem;
  font-family: "AvenirNext";
  resize: none;

  &:focus {
    outline: none;
    border: 2px solid $brand-primary-2;
  }
  &::placeholder {
    color: $brand-primary-1;
    font-family: "AvenirNext";
  }
}
