@use "./variables" as *;

@mixin mobile {
  @media screen and (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin header-desktop {
  font-size: 3.3rem;
  line-height: 4.4rem;
  font-weight: bold;
}

@mixin header-mobile {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  padding-bottom: 2.4rem;
}

@mixin section-header {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: bold;
}

@mixin subheader-desktop {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: bold;
}

@mixin subheader-mobile {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: bold;
}

@mixin copy-mobile {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: normal;
}

@mixin copy-desktop {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: normal;
}

@mixin labels-buttons {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 700;
}

@mixin avatar {
  height: 3.6rem;
  width: 3.6rem;
  background-size: cover;
  background-position: 20% 50%;
  border-radius: 50%;

  @include tablet {
    height: 4rem;
    width: 4rem;
  }
}
