@use "./typography";
@use "./mixins" as *;
@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "AvenirNext";
}

// h1 {
//   @include header-mobile;
//   font-weight: 700;
// }

p {
  @include copy-mobile;
}
