@use "./typography";
@use "./mixins" as *;
@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "AvenirNext";
}

h1 {
  @include header-mobile;

  @include tablet {
    @include header-desktop;
  }
}

h2 {
  text-transform: uppercase;
  color: $brand-primary-3;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

p {
  @include copy-mobile;

  @include tablet {
    @include copy-desktop;
  }
}
