$brand-primary-1: #323232;
$brand-primary-2: #0095ff;
$brand-primary-3: #afafaf;
$brand-primary-4: white;
$brand-secondary-1: #000000;
$brand-secondary-2: #0065ad;
$brand-secondary-3: #e1e1e1;
$brand-secondary-4: #fafafa;

$mobile-max-width: 767px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1279px;
$desktop-max-width: 1020px;
