@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video {
  background-color: $brand-secondary-1;
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include tablet {
      padding: 0 $standard-spacing-desktop;
    }

    @include desktop {
    }
  }

  &__image {
    width: 100%;
    margin: 0 auto;
    height: 20%;

    @include tablet {
      height: 39rem;
    }

    @include desktop {
      max-height: 70vh;
      max-width: 85rem;
    }
  }
}
