@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem;

    @include tablet {
      flex-direction: row;
      padding: 1.6rem 3.6rem;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
    }

    @include desktop {
      margin: 0 auto;
      max-width: $desktop-max-width;
      padding: 1.6rem 0;
    }
  }

  // &__avatar {
  //   display: none;

  //   @include tablet {
  //     display: inline;
  //     margin-left: 1.6rem;
  //     height: 4rem;
  //     width: 4rem;
  //   }
  // }

  // &__image {
  //   // @include avatar;
  //   background-image: url("../../assets/Images/Mohan-muruge.jpg");
  // }

  &__logo {
    height: 2.5rem;
    width: 12rem;
    margin-bottom: 1.6rem;

    @include tablet {
      margin-bottom: 0;
    }
  }
  &__wrapper {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include tablet {
      margin-bottom: 0;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

.search {
  display: flex;
  height: 4rem;
  margin-bottom: 1.6rem;
  justify-content: space-between;
  width: 100%;

  @include tablet {
    margin-bottom: 0;
    width: auto;
  }

  &__form {
    background-color: $brand-secondary-4;
    border: 2px solid $brand-secondary-3;
    border-radius: 5px;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 1.6rem;
    width: 100%;

    @include tablet {
      width: auto;
      padding: 1.6rem;
    }
  }

  &__icon {
    margin-right: 0.5rem;
  }

  &__avatar {
    height: 4rem;
    width: 4rem;

    @include tablet {
      display: none;
    }
  }

  &__image {
    height: inherit;
    width: inherit;
    background-image: url("../../assets/Images/Mohan-muruge.jpg");
    background-size: cover;
    background-position: 20% 50%;
    border-radius: 50%;
  }

  &__input {
    all: unset;
    width: 100%;

    @include tablet {
      width: 24rem;
    }

    &::placeholder {
      color: $brand-primary-1;
    }
  }
}
