@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.sidebar {
  padding: $standard-spacing-mobile $standard-spacing-mobile 0
    $standard-spacing-mobile;

  @include tablet {
    padding: $gutter-desktop $standard-spacing-desktop 0
      $standard-spacing-desktop;
  }

  @include desktop {
    padding: $standard-spacing-desktop 0 0 $gutter-desktop;
    border-left: 1px solid $brand-secondary-3;
  }
  &__title {
    margin-bottom: $standard-spacing-mobile;

    @include tablet {
      margin-bottom: $gutter-desktop;
    }
  }
}
