@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comments {
  padding: 0 $standard-spacing-mobile;

  @include tablet {
    padding: 0 $standard-spacing-desktop;
  }
  @include desktop {
    padding: 0;
  }

  &__wrapper {
    border-top: $border;
  }
}

.comment {
  display: flex;
  width: 100%;
  border-bottom: $border;
  padding: $standard-spacing-mobile 0;

  @include tablet {
    padding: $gutter-desktop 0;
  }

  &:last-child {
    @include desktop {
      border: none;
    }
  }

  &__user {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.8rem;
  }

  &__name {
    font-weight: 600;
  }

  &__date {
    color: $brand-primary-3;
  }

  &__text {
    @include tablet {
      line-height: $gutter-desktop;
    }
  }

  &__wrapper {
    width: 100%;

    @include desktop {
      padding-right: $gutter-desktop;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }

  &__image {
    height: $standard-spacing-mobile;

    &--margin {
      margin-right: 1rem;
    }
  }

  &__count {
    margin-right: 0.3rem;
  }
}
