@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video {
  &__container {
    background-color: $brand-secondary-1;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include tablet {
      padding: 0 3.6rem;
    }
  }

  &__image {
    width: 100%;
    max-width: $desktop-max-width;

    @include desktop {
      margin: 0 auto;
    }
  }
}
