@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.videoDetails {
  padding: $standard-spacing-mobile;

  @include tablet {
    padding: $gutter-desktop $standard-spacing-desktop $standard-spacing-mobile
      $standard-spacing-desktop;
  }

  @include desktop {
    padding: $gutter-desktop 0 $standard-spacing-mobile 0;
  }

  &__title {
    padding: 0.8rem 0 $standard-spacing-mobile 0;

    @include tablet {
      padding: 0 0 $standard-spacing-mobile 0;
    }
  }

  &__details {
    border-top: $border;
    border-bottom: $border;
    display: flex;
    justify-content: space-between;
    padding-top: $standard-spacing-mobile;
    margin-bottom: $standard-spacing-mobile;

    @include tablet {
      border-top: none;
      padding-top: 0;
    }
  }

  &__wrapper {
    width: 50%;

    @include tablet {
      display: flex;
    }

    &--right {
      @include tablet {
        justify-content: flex-end;
      }

      @include desktop {
        margin-right: $gutter-desktop;
      }
    }
  }

  &__views,
  &__channel,
  &__metrics--left {
    @include tablet {
      margin-right: $standard-spacing-desktop;
    }
  }

  &__metrics {
    display: flex;

    &--left {
      @include tablet {
      }
    }
  }
  &__channel {
    font-weight: 600;
    margin-bottom: $standard-spacing-mobile;

    @include tablet {
      margin-bottom: 0.8rem;
    }
  }
  &__date,
  &__metrics {
    margin-bottom: $standard-spacing-mobile;
    color: $brand-primary-3;
    @include tablet {
      margin-bottom: 0.8rem;
    }
  }

  &__icon {
    margin-right: 1rem;
  }

  &__description {
    margin-bottom: $standard-spacing-mobile;

    @include tablet {
      margin-bottom: $gutter-desktop;
    }

    @include desktop {
      margin-right: $gutter-desktop;
    }
  }

  &__comments {
    font-weight: 600;
  }
}
